  input[type="password"],
  input[type="text"],
  select,
  textarea {

    font-family : 'Lucida Console',
                  'Lucida Sans Typewriter',
                   Monaco,
                  'Bitstream Vera Sans Mono',
                   monospace;

    background : #FFF;
    border : 1px solid #CCC;
    color : #222;
    -moz-box-sizing : border-box;
    -webkit-box-sizing : border-box;
    box-sizing : border-box;
    font-size : 1.1em; /* 11px (11/10) */
    padding : 1.54545455em; /* 17px (17/11) */
    width : 100%;

  }


  /* Total minimum box height (font-size + padding + borders) = 47px.
  Adding an extra pixel here avoids clipped text in some browsers
  for text fields. Select field requires a few pixels more adjustment. */


  select {

    padding-bottom : 1.36363636em; /* 15px (15/11) */
    padding-top : 1.45454545em; /* 16px (16/11) */

  }


  input[type="password"],
  input[type="text"],
  select {

    height : 4.36363636em; /* 48px (48/11) */

  }


  select optgroup {

    background : #222;
    color : #FFF;

  }


  select option {

    background : #FFF;
    color : #222;

  }


  textarea {

    line-height : 2.18181818em; /* 24px (24/11) */

  }


  input[type="file"] {

    background : #FFF;
    border : 1px solid #CCC;
    font-size : 1.1em; /* 11px (11/10) */
    width : auto;

  }


  input[type="checkbox"],
  input[type="radio"] {

    background : #FFF;

  }


  input[type="checkbox"]:focus,
  input[type="file"]:focus,
  input[type="password"]:focus,
  input[type="radio"]:focus,
  input[type="text"]:focus,
  select:focus,
  textarea:focus {

    border-color : #222;

  }


  input[type="checkbox"]:focus,
  input[type="radio"]:focus {

    outline : 1px dotted #00F;

  }


  /* MARKUP */


  div.input {

    overflow : visible;
    margin-bottom : 2.4em; /* 24px (24/10) */

  }


  div.input:last-child {

    margin-bottom : 0;

  }


  /* LABELS AND DIV.CONTROLS */


  div.input label {

    display : block;
    font-size : 1.3em; /* 13px (13/10) */
    line-height : 1.84615385em; /* 24px (24/13) */

  }


  div.input div.controls {}


  div.input div.controls:after {

    /* Clearfix */

    clear : both;
    content : ' ';
    display : block;
    font-size : 0;
    height : 0;
    visibility : hidden;

  }


  div.input div.controls label {

    font-family : 'Lucida Console',
                  'Lucida Sans Typewriter',
                   Monaco,
                  'Bitstream Vera Sans Mono',
                   monospace;

    line-height : 1em; /* 13px (13/10) */
    height : 1.38461538em; /* 18px (18/13) */

  }


  div.input div.controls label:first-child {

    /* Visual adjustment */

    padding-top : 0.15384615em; /* 2px (2/13) */

  }


  div.input div.controls label:last-child {

    /* Visual adjustment */

    height : 1.07692308em; /* 14px (14/13) */

  }

  
  /* DIV.STACK */


  div.input div.stack {}


  @media
  screen and ( min-width : 500px ),
  handheld and ( min-width : 500px ) {


    div.input div.stack {

      display : inline-block;
      float : left;
      margin-right : 2em; /* 20px (20/10) */

    }


    div.input div.stack:last-child {

      margin-right : 0;

    }


  }


  /* DIV.ROW */


  div.input div.block {

    margin-bottom : 0.6em; /* 6px (6/10) */

  }


  div.input div.block:last-child {

    margin-bottom : 0;

  }


  /* DIV.INLINE */


  div.input div.inline {}


  div.input div.inline:after {

    /* Clearfix */

    clear : both;
    content : ' ';
    display : block;
    font-size : 0;
    height : 0;
    visibility : hidden;

  }


  div.input div.inline input[type="text"],
  div.input div.inline input[type="password"],
  div.input div.inline input[type="file"],
  div.input div.inline select,
  div.input div.inline span {

    float : left;
    margin-right : 0.5em;
    width : auto;

  }


  div.input div.inline span {

    font-family : 'Lucida Console',
                  'Lucida Sans Typewriter',
                   Monaco,
                  'Bitstream Vera Sans Mono',
                   monospace;

    font-size : 1.1em; /* 11px (11/10) */
    padding-bottom : 1.72727272em; /* 19px (19/11) */
    padding-top : 1.72727272em; /* 19px (19/11) */

  }


  /* INFORMATIONAL PARAGRAPH */


  div.input p {

    color : #999;
    font-size : 1.1em; /* 11px/10px */
    line-height : 2.18181818em; /* 24px (24/11) */
    margin : 0;
    padding : 0;

  }


  /* MODIFIERS */


  div.input.-required label:after {

    content : ' *';

  }


  div.input.-required div.controls label:after {

    content : '';

  }


  div.input.-error input[type="text"],
  div.input.-error input[type="password"],
  div.input.-error select,
  div.input.-error textarea {

    border-color : #B22222;

  }


  div.input.-error input[type="checkbox"]:focus,
  div.input.-error input[type="file"]:focus,
  div.input.-error input[type="password"]:focus,
  div.input.-error input[type="radio"]:focus,
  div.input.-error input[type="text"]:focus,
  div.input.-error select:focus,
  div.input.-error textarea:focus {

    border-color : #222;

  }


  div.input.-error label {

    color : #B22222;

  }


  div.input.-error div.controls label {

    color : #222;

  }

